% rebase('base.html', title='Wavelog Sync Configuration')

<h3>Wavelog Sync Configuration</h3>

<p id="last-sync" style="display: none;">Last sync: Unknown</p>

<p>Sync delay (in second, sync after a delay in case of QSY, leave it to 0 to disable sync): </p>
<input id="sync-delay" type="number" placeholder="1000">

<p>Wavelog endpoint:</p>
<input id="sync-endpoint" type="text" placeholder="https://example.org/index.php/api/radio">

<p>Wavelog API key:</p>
<input id="sync-key" type="text" placeholder="cl123456789abcd">

<br />

<button id="test-button">Test Sync</button>
<button id="save-button">Save Sync</button>

<script>

  window.addEventListener('DOMContentLoaded', () => {
      fetch('/api/get_sync')
          .then(response => {
              if (!response.ok) throw new Error('Network response was not ok');
              return response.json();
          })
          .then(data => {
              if (data.delay !== undefined)
		  document.getElementById('sync-delay').value = data.delay;
              if (data.endpoint !== undefined)
		  document.getElementById('sync-endpoint').value = data.endpoint;
              if (data.key !== undefined)
		  document.getElementById('sync-key').value = data.key;

	      if (data.timestamp) {
                  const lastSync = document.getElementById('last-sync');
                  lastSync.textContent = 'Last sync: ' + data.timestamp;
                  lastSync.style.display = 'block';
              }
          })
          .catch(error => {
              console.error('Error fetching sync config:', error);
          });
  });

  document.getElementById('test-button').addEventListener('click', function() {
      const delay = document.getElementById('sync-delay').value;
      const endpoint = document.getElementById('sync-endpoint').value;
      const apiKey = document.getElementById('sync-key').value;

      const data = {
          delay: delay,
          endpoint: endpoint,
          key: apiKey,
	  nodelay: true
      };

      fetch('/api/do_sync', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
      }).then(response => {
	  if (!response.ok) throw new Error('Network response was not ok');
	  return response.text();
      }).then(body => {
	  alert('Response:\n' + body);
      }).catch(error => {
	  alert('Error: ' + error);
      });
  });

  document.getElementById('save-button').addEventListener('click', function() {
      const delay = document.getElementById('sync-delay').value;
      const endpoint = document.getElementById('sync-endpoint').value;
      const apiKey = document.getElementById('sync-key').value;

      const data = {
          delay: delay,
          endpoint: endpoint,
          key: apiKey,
      };

      fetch('/api/save_sync', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
      }).then(response => {
	  if (!response.ok) throw new Error('Network response was not ok');
	  return response.text();
      }).then(body => {
	  alert('Response:\n' + body);
      }).catch(error => {
	  alert('Error: ' + error);
      });
  });

</script>
